body {
    margin: 0;
    padding: 0;
}

.container-index {
    width: 100%;
    background-image: url("water_homepage.jpg");
    background-size: cover;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: white;
}

nav {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    min-height: 3em;
    gap: 2em;
}

.brick-index {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    padding: 0.5em;
    transition: all ease-in 0.1s;
    color: rgb(106, 129, 200);
    opacity: 0.8;

}

.brick-index:hover {
    cursor: pointer;
    opacity: 1;
}

#index {
    width: 100%;
    height: 100%;
    background-size: cover;
}